#pixelImage{
    display: none;
}
.toast_completed{
    position: fixed;
    top:20%;
    left:30%;
    background: #608383;
    color: white;
}
.index a{
    cursor: pointer;
    margin: 3px;
}
.index_link_box{
    margin-bottom: 60px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.canvas-container {
    touch-action: manipulation;
}
.canvas-container td{
    width:7px;
    height: 7px;
    background: #fff;
    font-size: 7px;
    border: bisque solid 1px;
    text-align: center;
    cursor: pointer;
}
.colors-container{
    margin: 60px 0;
}
.colors-container.focus{
    border: red solid 5px;
}
.colors-container ul{
    padding: 0;
}
.colors-container li {
    display: inline-block;
    text-align: center;
    width:24px;
    height: 24px;
    font-size: 20px;
    border-radius: 12px;
    line-height: 20px;
    margin: 1px;
    cursor: pointer;
}
.colors-container li.on {
    width:34px;
    height: 34px;
    border-radius: 17px;
    line-height: 34px;
}
